.container {
  width: 100%;
  text-align: center;
}

.pBtn {
  display: inline-block;
  margin: 10px 0;
  font-size: 16px;
  transition: font-size 1s ease-out 0.5s;
}

#eChartsBox {
  width: 600px;
  height: 400px;
  margin: 10px auto;
}
